{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
    <h3>
        Instructions
    </h3>

        <p>Welcome! This is an economics experiment. If you pay close attention to these instructions,
        you can earn a significant sum of money, which will be paid to you in cash at the end.
        Please remain silent and do not look at other participants’ screens.
        If you have any questions, or need assistance of any kind, please raise your hand and we will come to you.
        If you disrupt the experiment by talking, laughing, etc., you may be asked to leave and may not be paid.
        We expect and appreciate your cooperation today.
    </p><p>At the beginning of the experiment, you will be anonymously matched with seven other participants.
        You will each choose an allocation, which can be adjusted during the experiment.
        Your earnings depend on the allocation you choose and the allocations chosen by the other participants you are
        matched with. The details are explained below. The earnings (measured in points) you accumulate will be added up
        at the end of the experiment, and converted to US dollars at a rate written on the white board.
        Before you leave the lab, you will sign a receipt and will be paid in cash.
    </p><p>In each round, you have an endowment of points and 8 tokens, and you choose how many tokens to allocate to
        the group account and how many to allocate to your private account. Each token allocated to the group account
        yields 1 point, divided equally among all members of your group. You can choose any allocation of the 8 tokens,
        as long as at least one token is allocated to the group account.
        You will be able to adjust your allocation choice in each round during the experiment.
    </p><p>There is a cost to allocate a token to the group account, and this cost increases the more you choose to
        allocate to the group account.  Suppose you have decided to allocate q tokens to the group account, and the
        cost of the qth token is c points.  Then the cost of the next token allocated to the group account is c + q,
        so that allocating the next token costs 1 point more than the previous token.
        For example, increasing your allocation to the group account from 1 unit to 2 units costs 1 point,
        and increasing this allocation to 3 units would cost 2 additional points (for a total cost of 3 points).
        Your endowment is set to be high enough that you will never be left with a negative number of points after a
        round.
    </p><p>
        To assist you in making your decisions to allocate to the group account,
        the computer will show you how many points would be distributed to your private account and the
        group account for each possible allocation.  You drag the slider on the screen to adjust your allocation to the
        group account between 0 and 8.  Rectangular bars showing the allocations to each account will update as you
        adjust your allocation choice.  You must move the slider to an amount greater than 0, or you will receive a
        message asking you to fix the errors in the form.
        Once you have made your choice, click the “Next” button and wait for others to make their choices.
        Below is a picture if the interface you will use.
    </p>
        <img src="https://drive.google.com/uc?export=view&id=1BESyxSQwqqIIxzSJZMXteNDwSHI36pdv" width="850px"/>
    <p>
        After each round, there will be a 90% probability that the experiment continues for an additional round,
        up to a maximum of 15 rounds.  Your payoff in each round is equal to your endowment, minus the cost of your
        allocations to the group account, plus your share of the yields to allocations to the group account.
        A randomly chosen round will be used to determine the earnings you receive from the experiment.
</p><p>If the experiment continues, you will be shown a table that contains each player’s allocations to the group
        account in each previous round.  However, at first, some other players’ allocations will be hidden.
        During the first three rounds, Players 1 and 2 will only see each other’s allocation histories,
        as will Players 3 and 4, Players 5 and 6, and Players 7 and 8.  After each of the next three rounds,
        Players 1, 2, 3 and 4 will only see other’s allocation histories, as will Players 5, 6, 7, and 8.
        In each following round, each player will see all other players’ allocation histories.
    </p><p>
        The table will use colors to indicate whose histories you can see in each round, as shown below.
    </p>
        <img src="https://drive.google.com/uc?export=view&id=1YpHS3BkN_n-ccgO0x5D7UmOHi3CV8iki" width="850px"/>

        <p>
            Click next when you are ready to begin the experiment.
        </p>

    </div>
</div>

